*::selection{
    color: #5D0C1D;
    background-color: #FFFFFF;
}
/*tá dando erro aqui na cor do background, dps resolvo (-Nath)*/
body{
    background-color: #CCB38D;
    color: #5D0C1D;
    margin: 25px;
}

.imagem{
    width:200px;
    height:120px;
    margin-left:50px;
    margin-top:50px;
}
/* ------------- BARRA DE NAVEGAÇÃO  ------------- */
.navbar ol{
	list-style: none;
	display: flex;
	margin: 0;
	padding: 0;
	position: sticky;
	justify-content: center;
	align-items: center;
	top: 0px;
	cursor: pointer;
	background-color: #5D0C1D;
	font-size: 19px;
}
/*bordas da barra de navegação*/
.navbar{
    margin-right: -10px;
    margin-top: -10px;
    margin-left: -10px;
}
.nav-list{
	width: 100%;
    display: flex;
}
.navbar li{
	float: left;
}
.nav-list li {
    list-style: none;
    padding: 20px;
}
.navbar li a{
	display: block;
	color: black;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}
.navbar li a:hover{
	background-color: #430A20;
}


/* ------------- BARRA DE NAVEGAÇÃO  ------------- */

/* ----------------------- Footer ----------------------- */

*, *:before, *:after {
  box-sizing: border-box;
}
html {
  font-size: 100%;
}
body {
  font-family: acumin-pro, system-ui, sans-serif;
  margin: 0;
  display: grid;
  grid-template-rows: auto 1fr auto;
  font-size: 14px;
  background-color: #f4f4f4;
  align-items: start;
  min-height: 100vh;
}
.footer {
  display: flex;
  flex-flow: row wrap;
  padding: 30px 30px 20px 30px;
  color: #2f2f2f;
  background-color: #f2eee3;
  border-top: 1px solid #e5e5e5;
}
.footer > * {
  flex:  1 100%;
}
.logo {
  margin-right: 1.25em;
  margin-bottom: 2em;
}
.footer_logo {
  width: 230px;
  height: 230px;
  font-family: 'Pacifico', cursive;
  font-weight: 400;
  text-transform: lowercase;
  font-size: 2rem;
}
.titulo {
  font-weight: 400;
  font-size: 15px;
}
.footer ul {
  list-style: none;
  padding-left: 0;
}
.footer li {
  line-height: 2em;
}
.footer a {
  text-decoration: none;
}
.contato_nav {
  display: flex;
    flex-flow: row wrap;
}
.contato_nav > * {
  flex: 1 50%;
  margin-right: 1.25em;
}
.nome a {
  color: #999;
}
.nome a:hover{
    color: #2f2f2f;
    transition: 0.3s;
}
.legal {
  display: flex;
  flex-wrap: wrap;
  color: #999;
}
@media screen and (min-width: 24.375em) {
  .legal {
    margin-left: auto;
  }
}
@media screen and (min-width: 40.375em) {
  .contato_nav > * {
    flex: 1;
  }
  .logo {
    flex: 1 0px;
  }
  .contato_nav {
    flex: 2 0px;
  }
}
