*::selection{
  color: #000235;
  background-color: #FFFFFF;
}
body{
  background-color: #d4d1d8;
  color: #3a3d63;
  font-family: ;
  margin: 25px;
}
.SE{
  border-right: 5px solid green;
  border-bottom: 5px solid green;
  position: absolute;
  width: 300px;
  height: 200px;
  margin-left: 300px;
}
.SM{
  border-right: 5px solid grey;
  border-bottom: 5px solid grey;
  border-left: 5px solid grey;
  position: absolute;
  width: 400px;
  height: 200px;
  margin-left: 600px;
}
.SD{
  border-left: 5px solid yellow;
  border-bottom: 5px solid yellow;
  position: absolute;
  width: 400px;
  height: 200px;
  margin-left: 1005px;
}
/*
.ME{
  border-right: 5px solid violet;
  border-top: 5px solid violet;
  border-bottom: 5px solid violet;
  position: relative;
  width: 200px;
  height: 500px;
}
*/
.MM{
  border: 5px solid purple;
  position: absolute;
  width: 400px;
  height: 200px;
  margin-top: 200px;
  margin-left: 600px;
}
.MD{
  border-left: 5px solid hotpink;
  border-bottom: 5px solid hotpink;
  border-top: 5px solid hotpink;
  position: absolute;
  width: 400px;
  height: 200px;
  margin-top: 200px;
  margin-left: 1005px;
}
.IE{
  border-right: 5px solid black;
  border-top: 5px solid black;
  position: absolute;
  width: 300px;
  height: 200px;
  margin-top: 405px;
  margin-left: 300px;
}
.IM{
  border-left: 5px solid red;
  border-top: 5px solid red;
  border-right: 5px solid red;
  position: absolute;
  width: 400px;
  height: 200px;
  margin-top: 405px;
  margin-left: 600px;
}
.ID{
  border-left: 5px solid blue;
  border-top: 5px solid blue;
  position: absolute;
  margin-right: 300px;
  margin-bottom: 200px;
  width: 400px;
  height: 200px;
  margin-top: 405px;
  margin-left: 1005px;
}
