body{
    background-color: #e4c99f;
    font-family: acumin-pro, system-ui, sans-serif;
    margin: 0px;
}
h1{
    color: #5D0C1D;
}

/* ------------- BARRA DE NAVEGAÇÃO  ------------- */
header {
    background-color: #5D0C1D;
    width: 100%;
    height: 70px;

}
  
ul {
    display: flex;
    list-style-type: none;
    font-size: 20px;
    justify-content: center; 
    margin: 0px;
}
  
  
li {
    margin: 20px;
    font-family: Arial;
}
  
#title {
    margin-right: auto;
}
  
  
li a {
   color: #e4c99f;
   text-decoration: none; 
}
  
li a:hover {
    text-decoration: underline;
}

/* ------------- BARRA DE NAVEGAÇÃO  ------------- */


#SE{
    border-right: 5px solid #5D0C1D;
    border-bottom: 5px solid #5D0C1D;
    position: absolute;
    width: 300px;
    height: 200px;
    margin-left: 465px;
}

#SM{
    border-right: 5px solid #5D0C1D;
    border-bottom: 5px solid #5D0C1D;
    border-left: 5px solid #5D0C1D;
    position: absolute;
    width: 300px;
    height: 200px;
    margin-left: 765px;
}

#SD{
    border-left: 5px solid #5D0C1D;
    border-bottom: 5px solid #5D0C1D;
    position: absolute;
    width: 300px;
    height: 200px;
    margin-left: 1070px;
}
  
#ME{
    border-right: 5px solid #5D0C1D;
    border-top: 5px solid #5D0C1D;
    border-bottom: 5px solid #5D0C1D;
    margin-left:300px;
    margin-top:200px;
    position: absolute;
    width: 300px;
    height: 200px;
    margin-left:465px;

}
  
#MM{
    border: 5px solid #5D0C1D;
    position: absolute;
    width: 300px;
    height: 200px;
    margin-top: 200px;
    margin-left: 765px;
}

#MD{
    border-left: 5px solid #5D0C1D;
    border-bottom: 5px solid #5D0C1D;
    border-top: 5px solid #5D0C1D;
    position: absolute;
    width: 300px;
    height: 200px;
    margin-top: 200px;
    margin-left: 1070px;
}

#IE{
    border-right: 5px solid #5D0C1D;
    border-top: 5px solid #5D0C1D;
    position: absolute;
    width: 300px;
    height: 200px;
    margin-top: 405px;
    margin-left: 465px;
}

#IM{
    border-left: 5px solid #5D0C1D;
    border-top: 5px solid #5D0C1D;
    border-right: 5px solid #5D0C1D;
    position: absolute;
    width: 300px;
    height: 200px;
    margin-top: 405px;
    margin-left: 765px;
}

#ID{
    border-left: 5px solid #5D0C1D;
    border-top: 5px solid #5D0C1D;
    position: absolute;
    margin-bottom: 200px;
    width: 300px;
    height: 200px;
    margin-top: 405px;
    margin-left: 1070px;
}

/*-----------AVATARES------------*/
.avatar{
    padding-left:10px;
    
}

/*-----O 'X' E A 'O' DO JOGO-----*/

.imagem{
    margin-left:50px;
    margin-top:50px;
}
