body{
    background-color: #e4c99f;
    font-family: acumin-pro, system-ui, sans-serif;
    margin: 0px;
}
h1{
    color: #5D0C1D;
}
/* -------------------- Jogador um ---------------------- */
.jogador-um{
    border: 3px solid #5D0C1D;
    border-radius: 20px;
    width: 40%;
    height: 110px;
    padding: 10px;
    margin-left: 40px;
    margin-bottom: 15px;
    margin-right: 15px;
    margin-top: 10px;
    position: static;
}
.avatar1 img{
    display: inline-block;
    border: 2px solid;
    border-radius: 100%;
    position: static;
}
.usuario1{
    display: inline-block;
    position: relative;
    bottom: 100px;
    left: 120px;
}

/* --------------------- Jogador dois -------------------- */
.jogador-dois{
    border: 3px solid #5D0C1D;
    border-radius: 20px;
    width: 40%;
    height: 108px;
    padding: 10px;
    margin-left: 50px;
    margin-right: 15px;
    margin-bottom: 15px;
    margin-top: 10px;
    position: relative;
    left: 700px;
    bottom: 150px;
}
.avatar2 img{
    display: inline-block;
    border: 2px solid;
    border-radius: 100%;
    position: static;
}
.usuario2{
    display: inline-block;
    position: relative;
    bottom: 100px;
    left: 120px;
}

/* -------------------- Posição do jogo ------------------- */
.jogo{
    position: relative;
    right: 240px;
    bottom: 100px;
}

/* ------------- BARRA DE NAVEGAÇÃO  ------------- */
header {
    background-color: #5D0C1D;
    width: 100%;
    height: 70px;

}
  
ul {
    display: flex;
    list-style-type: none;
    font-size: 20px;
    justify-content: center; 
    margin: 0px;
}
  
  
li {
    margin: 20px;
    font-family: Arial;
}
  
#title {
    margin-right: auto;
}
  
  
li a {
   color: #e4c99f;
   text-decoration: none; 
}
  
li a:hover {
    text-decoration: underline;
}

/* ------------- BARRA DE NAVEGAÇÃO  ------------- */


#SE{
    border-right: 5px solid #5D0C1D;
    border-bottom: 5px solid #5D0C1D;
    position: absolute;
    width: 300px;
    height: 200px;
    margin-left: 465px;
}

#SM{
    border-right: 5px solid #5D0C1D;
    border-bottom: 5px solid #5D0C1D;
    border-left: 5px solid #5D0C1D;
    position: absolute;
    width: 300px;
    height: 200px;
    margin-left: 765px;
}

#SD{
    border-left: 5px solid #5D0C1D;
    border-bottom: 5px solid #5D0C1D;
    position: absolute;
    width: 300px;
    height: 200px;
    margin-left: 1070px;
}
  
#ME{
    border-right: 5px solid #5D0C1D;
    border-top: 5px solid #5D0C1D;
    border-bottom: 5px solid #5D0C1D;
    margin-left:300px;
    margin-top:200px;
    position: absolute;
    width: 300px;
    height: 200px;
    margin-left:465px;

}
  
#MM{
    border: 5px solid #5D0C1D;
    position: absolute;
    width: 300px;
    height: 200px;
    margin-top: 200px;
    margin-left: 765px;
}

#MD{
    border-left: 5px solid #5D0C1D;
    border-bottom: 5px solid #5D0C1D;
    border-top: 5px solid #5D0C1D;
    position: absolute;
    width: 300px;
    height: 200px;
    margin-top: 200px;
    margin-left: 1070px;
}

#IE{
    border-right: 5px solid #5D0C1D;
    border-top: 5px solid #5D0C1D;
    position: absolute;
    width: 300px;
    height: 200px;
    margin-top: 405px;
    margin-left: 465px;
}

#IM{
    border-left: 5px solid #5D0C1D;
    border-top: 5px solid #5D0C1D;
    border-right: 5px solid #5D0C1D;
    position: absolute;
    width: 300px;
    height: 200px;
    margin-top: 405px;
    margin-left: 765px;
}

#ID{
    border-left: 5px solid #5D0C1D;
    border-top: 5px solid #5D0C1D;
    position: absolute;
    margin-bottom: 200px;
    width: 300px;
    height: 200px;
    margin-top: 405px;
    margin-left: 1070px;
}

/*-----------AVATARES------------*/
.avatar{
    padding-left:10px;
    
}

/*-----O 'X' E A 'O' DO JOGO-----*/

.imagem{
    margin-left:50px;
    margin-top:50px;
}
